html {
  --primary-color: #42A5F5;
  --secondary-color: #64FFDA;
  --text-primary-color: #E53935;
  --text-secondary-color: rgb(124, 77, 255);
}

body {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  font-family: "PT Sans", sans-serif;
  font-size: 5px;
  height: 100vh;
}

h1 {
  color: var(--primary-color);
  text-align: center;
  font-size: 3em;
}

h2 {
  font-size: 6em;
}

h3 {
  font-size: 5em;
}



li,
p {
  font-size: 4.324em;
  text-align: center;
}

figure,
img {
  /*imit the width of all figures and images  to be at most 100% the size of the parent*/
  max-width: 100%;
}

header {
  background-color: var(--secondary-color);
  padding: 1rem;
  text-align: center;
}

nav ul {
  justify-content: space-around;
}

ul {
  list-style-type: none;
  padding: 0;
}


p {
  padding: 0 2.5rem;
  text-align: center;
}

footer {
  background: var(--primary-color);
  color: var(--text-primary-color);
  padding: 1.5rem;
  text-align: center;
}

.button {
  background: var(--secondary-color);
  border-radius: 3px;
  padding: 0.5rem;
}

.button a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.justify-space-around {
  justify-content: space-around;
}

.mobile-hidden {
  display: none;
}

@media screen and (min-width: 885px) {
  #hero {
    background: url(https://source.unsplash.com/random/800x600) top center
    no-repeat;
    background-size: cover;
    width: 100vw;
    height: 75vh;
  }

  .flex--sm {
    display: flex;
  }
}
